body {
}
.main-container {
  padding: 3rem 1.5rem;
  text-align: center;
}

/*#drums-toggle {
	background: #ccc;
	cursor: pointer;
	border-top: solid 2px #eaeaea;
	border-left: solid 2px #eaeaea;
	border-bottom: solid 2px #777;
	border-right: solid 2px #777;
	padding: 5px 5px;       
	}
*/
.inst-toggle {
	background-color: white;
	color: black;
	border-color: #bbb;
}
.inst-toggle:hover {
	background-color: #eee;
}

.inst-toggle.active {
	/*background: #bbb;*/
	background: #3762a8;
	color: white;
}

#notes {
	border-color: white;
}

input[type=range] {
	width: 100%;
	margin-left: 20px;
}
